.logo {
	
	height: 130px;
    width: 15%;
}

img {
	height: 40%;
	width: 30%;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	text-align: center;
}

/* header 
=============== */

header {
	position: absolute;
	margin-top: 1em;
	left: 0;
	right: 0;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8rem;
	padding: .5em;
	color : #FFF;

}

nav a:hover,
nav a:focus {
	color: #DDD;
}

/* home-hero
====================== */

.home-hero {
	background-image: url(design.jpg);
	background-size: cover;
	padding: 10em 0;
}



